<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/home_style.css
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../static/logo1.webp" alt="Logo">
        </div>

        <ul>
            <li class="item">
                <a href="/">Home</a>
            </li>
            <li class="item">
                <a href="/">Previous Health</a>
            </li>
            <li class="item">
                <a href="/addInfo">Add Info</a>
            </li>
            <li class="item">
                <a href="/">About Us</a>
            </li>
            <li class="item">
                <a href="/">Contact Us</a>
            </li>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome to HealthCare</h1>
        <p>
            | HealthCare Provides their customers with amazing services like not worrying about forgetting your
            | important health reports while you visit your doctor. HealthCare has got their users covered as we store
            | all your health information which can only be accesed by you and your authorised doctors. HealthCare
            | aims in reducing the
            | paper used for reports and providing all your health information digitally and providing thier users a
            | hassel free experice
            | while they visit a doctor. Do click the button below to know more about our amazing company
        </p>
        <button class="btn">HealthCare</button>
    </section>

    <footer id="foot">
        <p>Copyright &copy; HealthCare
            <img src="../static/logo1.webp" alt="logo">
        </p>

    </footer>
    <script>

    </script>

</body>

</html>