<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    style
        include ../static/style.css

</head>

<body>

    <div class="header">
        <a href="#default" class="logo">CompanyLogo</a>
        <div class="header-right">
            <a class="active" href="/">Main Page</a>
            <a href="/">Contact us</a>
            <a href="/">About us</a>
            <a href="/login" id="link">Sign In</a>
        </div>

        <section class="about">

            <div class="main">
                <img src="../static/healthcard.jpeg">
                <div class="about-text">
                    <h1 style="color: skyblue;">What is HEALTHCARD</h1>
                    <Br>
                    <p>
                    |    Health card is basically a card which contains patient's general information like his/her
                    |    name,address,contact no,blood group,BGMI number as well as the QR code which contains the
                    |    medical history including test reports etc.
                    </p>
                </div>
            </div>
        </section>


        <section class="about2">
            <div class="main2">
                <img src="../static/healthcard.jpeg">
                <div class="about-text2">
                    <h1 style="color: rgb(215, 30, 175);">What is BGMI number</h1>
                    <Br>
                    <p>
                    |    BGM number:-
                    |    It is a unique number given to each of our patient. With the use of this number a patient or any
                    |    authorized personnel can directly access the health records of the patient.
                    </p>
                </div>
            </div>
        </section>


        <section class="about3">
            <div class="main3">
                <img src="../static/healthcard.jpeg">
                <div class="about-text3">
                    <h1 style="color: rgb(224, 46, 244)">Benefits of HEALTHCARD</h1>
                    <Br>
                    <p>
                    |    A small credit card like card which contains all of the patient's information along with a QR
                    |    code. A single scan of QR code by an authorized personnel can directly access the patients
                    |    health records. Instead of carrying files of tests and reports, patient only have to carry the
                    |    Health Card. Patient or the hospital workers can access the documents whenever and wherever they
                    |    want.
                    |    A hassel free environment for everyone.
                    </p>
                </div>
            </div>
        </section>

        <footer id="foot">
            <p>Copyright &copy; HealthCare
                <img src="../static/logo1.webp" alt="logo">
            </p>
        </footer>


    </div>
</body>

</html>